@page
@model SWP_BookingWebApplication.Pages.SinhVien_html.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].IdSinhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].DiemVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].LichSuGap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SinhVien) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSinhVien)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichSuGap)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdSinhVien">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdSinhVien">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdSinhVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
