@page
@model SWP_BookingWebApplication.Pages.SinhVien_html.IndexModel

<style>
  
    .table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1.1em;
        text-align: left;
    }

      
        .table th, .table td {
            padding: 12px 15px;
            border: 1px solid #ddd;
        }

      
        .table th {
            background-color: #f2f2f2;
            color: #333;
        }

        
        .table tr:hover {
            background-color: #f1f1f1;
        }

       
        .table a {
            color: #007bff;
            text-decoration: none;
        }

            .table a:hover {
                text-decoration: underline;
            }

  
    .btn-create {
        background-color: skyblue;
        color: black;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

        .btn-create:hover {
            background-color: pink;
        }
</style>

<p>
    <a class="btn-create" asp-page="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].IdSinhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].DiemVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien[0].LichSuGap)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SinhVien) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSinhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichSuGap)
            </td>
           
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdSinhVien">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdSinhVien">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdSinhVien">Delete</a> |
                <a asp-page="../LichGap_html/DatLich" asp-route-id="@item.IdSinhVien">Đặt Lịch</a> |
                <a asp-page="../ThongBao_html/Index" asp-route-id="@item.IdSinhVien">Xem Thông Báo</a> |
                <a asp-page="../LichGap_html/Index" asp-route-id="@item.IdSinhVien">Xem lịch gặp</a> |
            </td>
        </tr>
}
    </tbody>
</table>
