@page
@model SWP_BookingWebApplication.Pages.Mentor_html.DetailsModel

<div>
    <h4>Chi Tiết Mentor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mentor.Ten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentor.Ten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentor.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentor.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentor.KiNang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentor.KiNang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentor.ChuyenMon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentor.ChuyenMon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentor.LichLamViec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentor.LichLamViec)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mentor.IdMentor" class="btn">Chỉnh Sửa</a> |
    <a asp-page="./Index" class="btn">Quay lại danh sách</a>
</div>