@page
@model SWP_BookingWebApplication.Pages.DiemVi_html.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiemVi[0].SoDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemVi[0].NgayCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemVi[0].IdSinhVienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DiemVi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoDiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSinhVienNavigation.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdDiemVi">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdDiemVi">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdDiemVi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
